/* estilo para todos los elementos de la pagina */
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}
/* ocultamos los bullets*/
nav ul{
    display: inline-block;
    list-style-type: none;
}
/* hacmos el nav horizontal*/
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
/*color para todos los elementos a y quitamos el subrayado*/
a{
    text-decoration:none;
    color:#555;
}

p{
    color:#555;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
/*ajustamos la imagen de fondo 
que se encuentra en la claseROW*/
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
/*ajustamos la imagen de fondo 
que se encuentra en la clase col-2*/
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px;
}

.btn{
    display: inline-block;
    background:#ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 20px;
    transition: background 0.5s;
}
.btn:hover{
    background:#563434;
}

/*agregamos el color de fondo de la pagina principal*/
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
/*agreamos espaciado*/
.header .row{
   margin-top:  70px; 
} 

/*---- Seccion Categorias ----*/

.categories{
    margin: 70px 0; /*top bottom*/
}
.col-3{
    flex-basis: 30%;/*todas las columnas ocupan 30%*/
    min-width: 250px;
    margin-bottom: 30px;
}
/*ajustamos el ancho de las img al maximo de la columna*/
.col-3 img{
    width: 100%;
}
/* contenedor de categorias */
.small-container{
    max-width: 1080px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}

/*---- Seccion Productos ----*/

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s; /*para el hover*/
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
/* linea debajo de titulo*/
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
/* color del pie de las imagenes*/
h4{
    color: #555;
    font-weight: normal;
}
/* tamaño del pie de las imagenes*/
.col-4 p{
    font-size: 14px;
}
/* color de los iconos estrella*/
.rating .fa{
    color:#ff523b;
}
/*muevo los elementos al hacer hover*/
.col-4:hover{
    transform: translateY(-5px);
}

/*---- Seccion de Ofertas ----*/
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}
/*color de la leyenda small*/
small{
    color:#555;
}

/*---- Seccion de Reseñas ----*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
/*hacemos las imagenes redondeadas*/
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
/*muevo los elementos al hacer hover*/
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
/*tamao y color de los iconos comillas*/
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
/*tamaño y color de los parrafos*/
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
/*seteamos color del texto al pie de las img*/
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*----- Seccion MARCAS -----*/
.brands{
    margin: 100px auto;
}

.col-5{
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);  
}
.col-5 img:hover{
    filter: grayscale(0%);  
}

/*----- Seccion FOOTER -----*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color:#8a8a8a;
}
.footer h3{
    color:#fff;
    margin-bottom: 20px;  
}

.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
/* quitamos los bullets de los links*/
ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
/*linea del footer*/
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

/* Menu icon responsive */
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*-------- Media query para menu -------*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
       display: block;
       margin-right: 50px;
       margin-top: 10px;
       margin-bottom: 10px; 
    }
    nav ul li a{
        color:#fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/*-------- Media query para reso menores a 600px -------*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}